.testDiv > button {
    width: 63px;
    height: 45px;
    text-align: center;
    margin-right: 5px;
    background: var(--bg-primary);
    color: var(--text-dark);
    font-size: 16px;
    border: 1px solid var(--text-dark);
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}
.active {
    background: var(--text-dark);
    color: var(--bg-primary);
}